
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href=""/>
</head>
<body>
    <h2>Bienvenido a Index</h2>
</body>
</html>



